h3{
    background-color: darkolivegreen;color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: url("https://images.pexels.com/photos/14609444/pexels-photo-14609444.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: "no-repeat";
    background-size: "150%";
}